<p><%= t(".greeting", name: @user.name) %></p>

<p><%= t(".intro_html", shop_name: content_tag(:strong, @shop.name)).html_safe %></p>

<p><%= link_to @reset_url, @reset_url %></p>

<p><%= t(".expires", minutes: @reset_expiry_minutes) %></p>

<p><%= t("auth.mailer.shared.signature", brand: @brand) %></p>
